/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");
/* End Fonts */
/*inicio variables*/
/*fin variables*/
/*inicio estilos globales*/
html {
  font-size: 16px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*fin estilos globales*/
/*----------ESTILOS HEADER----------*/
@media screen and (min-width: 768px) {
  html {
    font-size: 22px; } }

.body {
  height: 100%; }

.header {
  height: 3.8rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 0px; }
  .header .header__logo--img {
    height: 100%;
    width: 15%; }
    .header .header__logo--img img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .header .header__logo--text {
    height: 100%;
    width: 74%;
    text-align: center; }
    .header .header__logo--text h1 {
      font-size: 1.5rem;
      margin: 0px;
      color: #f5f513;
      text-shadow: #212529 0.1em 0.1em 0.2em; }
    .header .header__logo--text p {
      font-size: .8rem;
      margin: 0px;
      text-shadow: #bebfc0 0.1em 0.1em 0.1em; }
  .header .form-check {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 11%;
    margin-right: 10px; }
    .header .form-check input {
      height: .7rem;
      margin: 0px 10px 8px 0px;
      width: 1.5rem; }

/* Modificando Estilos para el Navbar del Bootstrap */
#nav {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0px 0px; }
  #nav .navbar-brand {
    font-size: 1rem; }
    @media screen and (min-width: 1024px) {
      #nav .navbar-brand {
        display: none; } }
  #nav .nav-link {
    font-size: .8rem;
    padding: .3rem; }
    #nav .nav-link:hover {
      color: aliceblue;
      text-shadow: yellow 0.1em 0.1em 0.8em; }
  #nav .dropdown-menu {
    padding: 0px; }
    #nav .dropdown-menu .dropdown-item {
      padding: .1rem .8rem;
      font-size: .7rem; }
    #nav .dropdown-menu .dropdown-divider {
      margin: 0px; }
  @media screen and (min-width: 1024px) {
    #nav #navbar-nav--flex {
      justify-content: space-around;
      width: 100%; } }

/*--------FIN ESTILOS HEADER---------*/
/*----------ESTILOS PAGE INDEX-----------*/
.home__image {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 4rem; }
  @media screen and (min-width: 1280px) {
    .home__image {
      height: 90vh; } }
  .home__image img {
    width: 100%;
    height: 100%; }

/*----------ESTILOS PROGRAMAS----------*/
.home__programs {
  width: 100%;
  margin-bottom: 6rem;
  height: auto;
  text-align: center; }
  .home__programs h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .home__programs .carousel-inner {
    height: 17rem; }
    .home__programs .carousel-inner .carousel-item {
      height: 100%; }
      .home__programs .carousel-inner .carousel-item img {
        height: 100%;
        width: 100%; }
      .home__programs .carousel-inner .carousel-item a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        background-color: black;
        opacity: 0.5;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .home__programs .carousel-inner .carousel-item a:hover {
          text-decoration: underline;
          color: black;
          background-color: white; }

@media screen and (min-width: 1024px) {
  .home__programs {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home__programs .carousel {
      text-align: center;
      width: 60%; }
      .home__programs .carousel .carousel-inner {
        height: 20rem; }
        .home__programs .carousel .carousel-inner img {
          border-radius: 10px; } }

/*--------FIN ESTILOS PROGRAMAS--------*/
/*----------ESTILOS PORQUE INCATEP----------*/
.home__reasons {
  margin-bottom: 6rem; }
  .home__reasons h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem; }
  @media screen and (min-width: 1024px) {
    .home__reasons {
      margin-bottom: 8rem;
      margin-top: 8rem; } }
  .home__reasons .home__reasons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem; }
    @media screen and (min-width: 768px) {
      .home__reasons .home__reasons-container {
        flex-direction: row;
        column-gap: 1rem;
        padding: 0px 1rem;
        justify-content: space-around; } }
    .home__reasons .home__reasons-container .home__reasons--badge {
      display: flex;
      flex-direction: column;
      height: 8rem;
      width: 8rem;
      border: 4px darkgray solid;
      border-radius: 1rem;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px 5px #c0bfbf; }
      @media screen and (min-width: 768px) {
        .home__reasons .home__reasons-container .home__reasons--badge {
          box-shadow: 0px 0px 20px 10px #c0bfbf; } }
      .home__reasons .home__reasons-container .home__reasons--badge #icon {
        font-size: 3rem;
        color: #c29421; }
      .home__reasons .home__reasons-container .home__reasons--badge p {
        font-size: .8rem;
        font-weight: bold;
        margin: 0;
        text-align: center; }

/*--------FIN ESTILOS PORQUE INCATEP--------*/
/*----------ESTILOS MISION VISION----------*/
.home__MissionVision {
  text-align: center;
  width: 100%;
  margin-bottom: 6rem; }
  .home__MissionVision h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .home__MissionVision .home__MissionVision-Flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem; }
    @media screen and (min-width: 1024px) {
      .home__MissionVision .home__MissionVision-Flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; } }
    .home__MissionVision .home__MissionVision-Flex .home__MissionVision-container {
      height: 24rem;
      display: flex;
      flex-direction: column;
      width: 22rem;
      justify-content: flex-start;
      border: 3px gray solid;
      border-radius: 10px;
      box-shadow: 0px 15px 10px 0px #dad8d8; }
      @media screen and (min-width: 1024px) {
        .home__MissionVision .home__MissionVision-Flex .home__MissionVision-container {
          width: 45%; } }
      .home__MissionVision .home__MissionVision-Flex .home__MissionVision-container h3 {
        font-weight: bold;
        font-size: 1.2rem;
        margin: .5rem;
        text-shadow: 0px 5px 10px #dad8d8; }
      .home__MissionVision .home__MissionVision-Flex .home__MissionVision-container img {
        height: 13rem;
        width: 100%; }
      .home__MissionVision .home__MissionVision-Flex .home__MissionVision-container p {
        margin: .5rem;
        font-size: .72em; }

/*----------FIN ESTILOS MISION VISION----------*/
/*----------ESTILOS TESTIMONIOS----------*/
.home__testimony {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 6rem; }
  @media screen and (min-width: 768px) {
    .home__testimony {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2rem repeat(2, auto);
      grid-template-areas: "titulo titulo";
      justify-items: center;
      row-gap: 2rem; } }
  .home__testimony h2 {
    grid-area: titulo;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .home__testimony .home__testimony-container {
    height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #d7dae6 0%, #9b97ab 98%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0px;
    width: 20rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 2rem auto;
    grid-template-areas: "nombre nombre" "cargo cargo" "foto test"; }
    @media screen and (min-width: 768px) {
      .home__testimony .home__testimony-container {
        width: 90%; } }
    @media screen and (min-width: 1024px) {
      .home__testimony .home__testimony-container {
        width: 70%; } }
    .home__testimony .home__testimony-container:hover {
      background: rgba(64, 64, 70, 0.8); }
      .home__testimony .home__testimony-container:hover:hover > .home__testimony-container--img > img {
        transform: scale(1.1) rotate(3deg); }
      .home__testimony .home__testimony-container:hover:hover .home__testimony-container--text {
        color: white; }
    .home__testimony .home__testimony-container h3 {
      font-size: 1rem;
      padding: .3rem;
      grid-area: nombre;
      margin: 0 auto; }
    .home__testimony .home__testimony-container .home__testimony-container--img {
      height: auto;
      grid-area: foto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .home__testimony .home__testimony-container .home__testimony-container--img img {
        height: 8rem;
        object-fit: contain; }
    .home__testimony .home__testimony-container h4 {
      font-size: .8rem;
      grid-area: cargo;
      font-weight: bold;
      font-style: oblique;
      background: radial-gradient(circle, #d7dae6 0%, #9b97ab 98%);
      margin: 0px;
      width: 100%;
      height: 1.5rem; }
    .home__testimony .home__testimony-container p {
      font-size: .7em;
      padding: 0px 1rem;
      grid-area: test;
      text-align: justify; }

/*----------FIN ESTILOS TESTIMONIOS----------*/
/*----------ESTILOS CONVENIOS----------*/
.home__convenios {
  margin-bottom: 4rem; }
  .home__convenios h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .home__convenios .home__convenios-container {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1280px) {
      .home__convenios .home__convenios-container {
        column-gap: 2rem; } }
    .home__convenios .home__convenios-container img {
      height: 4rem;
      width: 5rem;
      object-fit: contain; }
      @media screen and (min-width: 667px) {
        .home__convenios .home__convenios-container img {
          height: 6rem;
          width: 7rem; } }

/*----------FIN ESTILOS CONVENIOS----------*/
/*----------FIN ESTILOS PAGE INDEX-----------*/
/*----------ESTILOS PAGE PROGRAMAS DE ESTUDIO-----------*/
.programs-container h2 {
  text-align: left;
  font-size: 1.2rem;
  margin: 1rem; }

.programs-container h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: .8em 0px;
  color: #0c0c49; }

.programs-container p {
  font-style: oblique;
  font-size: 1rem;
  margin: 1rem; }

.programs-container .programs-container--grid {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  row-gap: 2rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 1280px) {
    .programs-container .programs-container--grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
      row-gap: 2rem;
      column-gap: 1rem; } }
  .programs-container .programs-container--grid .programs__course {
    text-align: center; }
    .programs-container .programs-container--grid .programs__course img {
      width: 100%;
      height: 100%; }
    .programs-container .programs-container--grid .programs__course p {
      font-size: 1rem;
      background-color: #e4e471;
      font-weight: bold;
      color: red;
      margin: 0px;
      transition: all 0.3s ease-in; }
      .programs-container .programs-container--grid .programs__course p:hover {
        transform: scale(1.02);
        background-color: transparent;
        text-align: center;
        color: yellow;
        background-color: black;
        border-radius: 50%; }

.boxWsp {
  height: 3rem;
  width: 3rem;
  position: fixed;
  line-height: 4rem;
  bottom: 40px;
  right: 30px;
  z-index: 100; }
  .boxWsp img {
    width: 100%; }
    .boxWsp img:hover {
      text-decoration: none;
      box-shadow: 5px 5px 10px white;
      border-radius: 50%;
      width: 110%; }

/*----------FIN ESTILOS PAGE PROGRAMAS DE ESTUDIO-----------*/
/*----------ESTILOS PAGE CONTACTO-----------*/
.body_contact .contact__main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 1rem; }
  @media screen and (min-width: 1024px) {
    .body_contact .contact__main {
      display: grid;
      padding: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "titulo titulo" "form mapa"; } }
  .body_contact .contact__main .contact__tittle {
    height: 3rem;
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body_contact .contact__main .contact__tittle h2 {
      font-size: 1.2rem;
      margin: 0 auto; }
  .body_contact .contact__main .contact__form {
    width: 80%;
    background-color: bisque;
    padding: .5rem;
    border-radius: 1rem;
    background: #adbbf2;
    background: linear-gradient(90deg, #adbbf2 0%, #6b6886 98%);
    grid-area: form; }
    .body_contact .contact__main .contact__form .labels-inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center; }
      .body_contact .contact__main .contact__form .labels-inputs p {
        margin: .5rem .5rem;
        font-size: .8rem; }
      .body_contact .contact__main .contact__form .labels-inputs input {
        font-size: .7rem;
        border: 1px solid gray;
        border-radius: 5px;
        padding: .4rem 5px;
        margin: 0px 0.5rem; }
      .body_contact .contact__main .contact__form .labels-inputs textarea {
        height: 3rem;
        border: 1px solid gray;
        border-radius: 5px;
        resize: none;
        font-size: .7rem;
        padding: 0px 5px 0px 5px;
        margin: 0px .5rem; }
    .body_contact .contact__main .contact__form .btns {
      padding: .5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: .5rem; }
      .body_contact .contact__main .contact__form .btns input {
        width: 5rem;
        font-size: .6rem;
        padding: .2rem;
        border-radius: 5px; }
        .body_contact .contact__main .contact__form .btns input:hover {
          background-color: #a19f9f;
          font-weight: bold; }
  .body_contact .contact__main .contact__address {
    height: 100%;
    width: 80%;
    text-align: center;
    grid-area: mapa; }
    .body_contact .contact__main .contact__address iframe {
      height: 100%;
      width: 100%;
      margin-bottom: 1rem; }

/*----------FIN ESTILOS PAGE CONTACTO-----------*/
/*----------ESTILOS PAGE ALUMNO-----------*/
/*estilos header*/
header h1 {
  text-align: center;
  margin: 20px auto 30px;
  font-size: 1.5rem; }

/*fin estilos header*/
/*estilos body*/
.body__login {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #928c8d 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Vibur', cursive;
  font-family: 'Abel', sans-serif;
  opacity: .95;
  height: 100%;
  width: 100%; }

/*fin estilos body*/
/*inicio Estilos form*/
.main__login {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.form__login {
  width: 90%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 9px 50px rgba(234, 177, 149, 0.31);
  padding: .5rem;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #cfcfcf 50%); }
  @media screen and (min-width: 576px) {
    .form__login {
      width: 18rem; } }
  .form__login .container-head {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2rem auto;
    height: 3rem;
    flex-direction: column;
    align-items: center; }
    .form__login .container-head header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .form__login .container-head header img {
        width: 3rem; }
  .form__login .container-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form__login .container-field .container-field-text {
      height: 2rem;
      width: 90%;
      display: flex;
      margin: .3rem 0px; }
      .form__login .container-field .container-field-text .input-item {
        width: 9%;
        height: 100%;
        left: 0;
        background: #fff;
        color: #333;
        border-radius: 5px 0px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .form__login .container-field .container-field-text #eye {
        background: #fff;
        border-radius: 0px 5px 5px 0px;
        float: right;
        position: relative;
        cursor: pointer; }
    .form__login .container-field .form-input {
      width: 90%;
      height: 100%;
      font-size: .9rem;
      font-family: 'Abel', sans-serif;
      color: #5E6472;
      outline: none;
      border: none;
      border-radius: 0px 5px 5px 0px;
      transition: 0.2s linear; }
    .form__login .container-field input:focus {
      transform: translateX(-2px);
      border-radius: 5px; }
  .form__login button {
    /* display: inline-block; */
    color: #212529;
    width: 90%;
    height: 2.2rem;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: .7rem auto;
    letter-spacing: 0.05em; }
    .form__login button:hover {
      transform: translatey(3px);
      box-shadow: none;
      animation: ani9 0.4s ease-in-out infinite alternate; }
  .form__login .other {
    display: flex;
    width: 100%; }
    .form__login .other button {
      width: 40%; }
    .form__login .other .frgt-pass {
      background: transparent; }
    .form__login .other .sign-up {
      background: #B8F2E6; }

/*----------FIN ESTILOS PAGE ALUMNO-----------*/
/*----------ESTILOS FOOTER----------*/
.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(90deg, #f5f2e6 0%, #212529 100%); }
  @media screen and (min-width: 1280px) {
    .footer {
      flex-direction: row;
      justify-content: space-around; } }
  .footer .footer__social {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: .2rem;
    margin-bottom: 1rem;
    justify-items: center; }
    @media screen and (min-width: 1280px) {
      .footer .footer__social {
        width: 30%;
        justify-items: right; } }
    .footer .footer__social img {
      width: 2rem;
      border-radius: 50%;
      border: 2px white solid; }
      .footer .footer__social img:hover {
        border: 0px; }
      @media screen and (min-width: 1280px) {
        .footer .footer__social img {
          width: 50%; } }
  .footer .footer__address {
    height: 100%;
    width: 50%;
    text-align: center; }
    @media screen and (min-width: 1280px) {
      .footer .footer__address {
        width: 50%;
        text-align: end; } }
    .footer .footer__address p {
      font-size: .8rem;
      color: white; }

/*--------FIN ESTILOS FOOTER--------*/
