*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
     
}

/*---------Estilos para el HEADER-----------*/
html{
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    
    html{font-size: 22px;}

}

@media screen and (min-width: 1280px) {
    
    html{font-size: 22px;}

}

.body{
    height: 100%;
}

.header{
    height: 3.8rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 0px;
}

.header__logo--img{
    height: 100%;
    width: 15%;
}

.header__logo--img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.header__logo--text{
    height: 100%;
    width: 74%;
    text-align: center;
}

.header__logo--text h1{
    font-size:1.5rem;
    margin: 0px;
    color: rgb(245, 245, 19);
    text-shadow: #212529 0.1em 0.1em 0.2em
    
}

.header__logo--text p{
    font-size: .8rem;
    margin: 0px;
    text-shadow: #bebfc0 0.1em 0.1em 0.1em
}

.form-check{
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: flex-end;
    width: 11%;
    margin-right: 10px;
}

.form-check-input{
    height: .7rem;
    margin: 0px 10px 8px 0px;
}

.form-check #flexSwitchCheckDefault{
    width: 1.5rem;
}



/* Modificando Estilos para el Navbar del Bootstrap */
#nav{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px 0px;
}

#nav .nav-link{
    font-size: .8rem;
    padding: .3rem;
}

#nav .nav-link:hover{
    color: aliceblue;
    text-shadow: yellow 0.1em 0.1em 0.8em
}

#nav .container-fluid .navbar-brand{
    font-size: 1rem;
}

#nav .dropdown-menu{
    padding: 0px;
}

#nav .dropdown-menu .dropdown-item{
    padding: .1rem .8rem;
    font-size: .7rem;
}

#nav .dropdown-menu .dropdown-divider{
    margin: 0px;
}


@media screen and (min-width: 1024px) {
    #navbar-nav--flex{
        justify-content: space-around;
        width: 100%;
    }

    #nav .container-fluid .navbar-brand{
        display: none;
    }

}

/*---------Estilos para el Main-----------*/

.home__image{
    height: 30%;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
 
}

.home__image img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .home__image{
        height: 90vh;
    }
}

/*---Programas de Estudio---*/
.home__programs{
    width: 100%;
    margin-bottom: 4rem;
    height: auto;
    text-align: center;
}

.carousel-inner{
    height: 17rem;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    height: 100%;
    width: 100%;
}

.home__programs h2{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.carousel-item a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-item a:hover{
    text-decoration:underline;
    color: black;
    background-color: white;
}


@media screen and (min-width: 1024px){
    .home__programs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-inner{
        height: 20rem;
    }

    .carousel{
        text-align: center;
        width: 60%;
    }

    .carousel-item img{
        border-radius: 10px;
    }
}



/*---Porqué INCATEP---*/
.home__reasons{
    margin-bottom: 4rem;
}

.home__reasons h2{
    font-size: 1.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.home__reasons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}


.home__reasons--badge{
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 8rem;
    border: 4px darkgray solid;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgb(192, 191, 191);
}



.home__reasons--badge #icon{
    font-size:3rem;
    color: rgb(194, 148, 33);
    
}

.home__reasons--badge p{
    font-size: .8rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .home__reasons--badge{
        box-shadow: 0px 0px 10px 10px rgb(192, 191, 191);
    }

    .home__reasons-container{
        flex-direction: row;
        column-gap: 1rem;
        padding: 0px 1rem;
        justify-content: space-around;
    }

@media screen and (min-width: 1024px) {
    .home__reasons{
        margin-bottom: 8rem;
        margin-top: 8rem;
    }
}


}

/*---MISION Y VISION---*/

.home__MissionVision{
    text-align: center;
    width: 100%;
    margin-bottom: 4rem;

}

.home__MissionVision h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.home__MissionVision-Flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.home__MissionVision-container{
    height:24rem;
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: center;
    border: 3px gray solid;
    border-radius:10px;
    box-shadow: 0px 15px 10px 0px rgb(218, 216, 216);
    
    
}   

.home__MissionVision-container h3{
    font-weight: bold;
    font-size: 1.2rem;
    margin: .5rem;
    text-shadow: 0px 5px 10px rgb(218, 216, 216);
}

.home__MissionVision-container img{
    height: 65%;
    width: 100%
}

.home__MissionVision-container p{
    margin: .5rem;
    font-size: .8rem;
}



@media screen and (min-width: 1024px) {
    
    .home__MissionVision-Flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .home__MissionVision-container{
        width: 45%;
    }   

}

/*---TESTIMONIOS---*/

.home__testimony{
    padding: 1rem;
    width: 100%;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2rem repeat(2,auto);
    grid-template-areas:
    "titulo titulo";
    justify-items:center;
    gap: 1rem;
}

.home__testimony h2{
    grid-area: titulo;
    font-size: 1.2rem;
}

.home__testimony-container{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(215,218,230,1) 0%, rgba(155,151,171,1) 98%);
    width: 10rem;
    height: 100%;
    text-align: center;
    border-radius: 1rem;
    padding: .3rem;
    
}

.home__testimony-container:hover{
    background: rgba(64, 64, 70,0.8);
}

.home__testimony-container--img{
    height: 8rem;
}

.home__testimony-container--img img{
    height: 100%;
    
}


.home__testimony-container h3{
    font-size: 1rem;
    padding: .3rem;
}

.home__testimony-container h4{
    font-size: .8rem;
    padding: .3rem;
}

.home__testimony-container p{
    font-size: .7rem;
    padding: 0px .3rem .3rem .3rem;
}

/*Aplicando hover*/
.home__testimony-container:hover > .home__testimony-container--img > img{
    transform: scale(1.1) rotate(3deg);
}

.home__testimony-container:hover .home__testimony-container--text{
    color: white;
}

/*Fin hover*/

@media screen and (min-width: 768px){

    .home__testimony-container{
        width: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2rem 2rem 8rem;
        grid-template-areas:
            "nombre nombre"
            "foto cargo"
            "foto test";
        
    }
    
    .home__testimony-container h3{
        grid-area: nombre;
    }

    .home__testimony-container--img{
        grid-area: foto;
    }

    .home__testimony-container h4{
        grid-area: cargo;
    }

    .home__testimony-container p{
        grid-area:test
    }
}

@media screen and (min-width: 1024px){
    .home__testimony-container{
        width: 80%;
        
    }
}


/*---CONVENIOS---*/

.home__convenios{
    margin-bottom: 4rem;
}

.home__convenios h2{
    font-size: 1.2rem;
    text-align: center;
}

.home__convenios-container{
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    grid-column-gap: .2rem;
    justify-items: center;
}

.home__convenios-container img{
    width: 100%;
    height: 100%; 
}


@media screen and (min-width: 1280px) {
    .home__convenios-container img{
        width: 70%;
        height: 70%; 
    }
}

/*---------Estilos para el FOOTER-----------*/
.footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(245,242,230,1) 0%, #212529 100%);
}

.footer__social{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: .3rem;
    width: 50%;
    justify-items: right;
    margin-bottom: .5rem;
}

.footer__social img{
    width: 80%;
    border-radius: 50%;
    border: 2px white solid;
    
}

.footer__social img:hover{
    border: 0px
}

.footer__address{
    height: 100%;
    width: 50%;
    text-align: center;
}

.footer__address p{
    font-size: .8rem;
    color: white;
}


@media screen and (min-width: 1280px) {
    .footer__social img{
        width: 100%;
    }
    
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__social{
        width: 30%;
        column-gap: .2em;
        justify-items: right;
    }
    
    .footer__social img{
        width: 50%;  
    }
    
    .footer__address{
        width: 50%;
        text-align: end;

    }

}

/*-------------DIR pages: PROGRAMAS DE ESTUDIO----------------*/

.programs-container h2{
    text-align: left;
    font-size: 1.2rem;
    margin: 1rem;
}

.programs-container h3{
    text-align: center;
    font-size: 1.3rem;
    margin: .8em 0px;
    color:rgb(12, 12, 73);
}

.programs-container p{
    font-style: oblique;
    font-size: 1rem;
    margin: 1rem;
}

.programs-container--grid{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    row-gap: 2rem;
    margin-bottom: 1rem;
}

.programs__course{
    text-align: center;
}

.programs__course p{
    font-size: 1rem;
    background-color: rgb(228, 228, 113);
    font-weight: bold;
    color: red;
    margin: 0px;
    transition: all 0.3s ease-in;
}

.programs__course p:hover{
    transform: scale(1.02);
    background-color: transparent;
    text-align: center;
    color: yellow;
    background-color: black;
    border-radius: 50%;

}

.programs__course img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .programs-container--grid{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
        row-gap: 2rem;
        column-gap: 1rem;
       
    }
}
    
/*-------------DIR pages: CONTACT FORM----------------*/
.body_contact{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contact__main{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto repeat(2,1fr);
    grid-template-columns: 0.9fr;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
}

.contact__tittle h2{
    font-size: 1.5rem;
    text-align: center;
}

.contact__form{
    background-color: bisque;
    padding: .5rem;
    border-radius: 1rem;
    background: rgb(173,187,242);
    background: linear-gradient(90deg, rgba(173,187,242,1) 0%, rgba(107,104,134,1) 98%);
}

.contact__form .labels-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.contact__form .labels-inputs p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.contact__form .labels-inputs input{
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.contact__form .labels-inputs textarea{
    height: 3rem;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
}

.contact__form .btns{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.contact__form .btns input{
    width: 6rem;
    font-size: .9rem;
    padding: .2rem;
    border-radius: 5px;
}

.contact__form .btns input:hover{
    background-color: rgb(161, 159, 159);
}

.contact__address{
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.contact__address iframe{
    width: 90%;
    height: 100%;
}

@media screen and (min-width: 1024px) {
     .contact__main{
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2,0.8fr);
        grid-template-areas:  
        "titulo titulo"
        "form mapa";
    }  

    .contact__tittle{
        grid-area: titulo;
    }

    .contact__form{
        grid-area: form;
    }

    .contact__address{
        grid-area: mapa;
    }
 
}

body.darkmode{
    /* background-color: rgb(32, 32,44);
    color: white; */
}