.body_contact{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contact__main{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto repeat(2,1fr);
    grid-template-columns: 0.9fr;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
}

.contact__tittle h2{
    font-size: 1.5rem;
    text-align: center;
}

.contact__form{
    background-color: bisque;
    padding: .5rem;
    border-radius: 1rem;
    background: rgb(173,187,242);
    background: linear-gradient(90deg, rgba(173,187,242,1) 0%, rgba(107,104,134,1) 98%);
}

.contact__form .labels-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.contact__form .labels-inputs p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.contact__form .labels-inputs input{
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.contact__form .labels-inputs textarea{
    height: 3rem;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
}

.contact__form .btns{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.contact__form .btns input{
    width: 6rem;
    font-size: .9rem;
    padding: .2rem;
    border-radius: 5px;
}

.contact__form .btns input:hover{
    background-color: rgb(161, 159, 159);
}

.contact__address{
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.contact__address iframe{
    width: 90%;
    height: 100%;
}

@media screen and (min-width: 1024px) {
     .contact__main{
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2,0.8fr);
        grid-template-areas:  
        "titulo titulo"
        "form mapa";
    }  

    .contact__tittle{
        grid-area: titulo;
    }

    .contact__form{
        grid-area: form;
    }

    .contact__address{
        grid-area: mapa;
    }
 
}