/*----------ESTILOS CONVENIOS----------*/
.home__convenios{
    margin-bottom: 4rem;
}

.home__convenios h2{
    font-size: 1.2rem;
    text-align: center;
}

.home__convenios-container{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.home__convenios-container img{
    height: 4rem;
    width: 5rem;
    object-fit: contain;
    
}

@media screen and (min-width: 667px) {
    .home__convenios-container img{
        height: 6rem;
        width: 7rem;
    }
    
}


@media screen and (min-width: 1280px) {
    .home__convenios-container{
        column-gap: 2rem;
        
    }
}

/*----------FIN ESTILOS CONVENIOS----------*/