/*estilos header*/
header{
    h1{
        text-align: center;
        margin: 10px auto 30px;
    }
}
/*fin estilos header*/

/*estilos body*/

.body__login{
background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #928c8d 100%);
background-attachment: fixed;
background-repeat: no-repeat;
font-family: 'Vibur', cursive;
font-family: 'Abel', sans-serif;
opacity: .95;
max-width: 100%;

}
/*fin estilos body*/

/*inicio Estilos form*/
.main__login{
height: 100%;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

.form__login{
width: 90%;
height: auto;
border-radius: 5px;
box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
padding: .5rem;
background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
background-image: linear-gradient(-225deg, #E3FDF5 50%, #cfcfcf 50%);


@media screen and (min-width: 576px){
    width: 30rem;
    
}

.container-head{
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2rem auto;
    height: 5rem;
    flex-direction: column;
    align-items: center;

    header{
        text-align: center;
        width: 100%;
        height: 100%;

        img{
            height: 90%;
            margin-bottom: .5rem;
        }

        h2{
            font-size: 1rem;
            font-family: 'Playfair Display', serif;
            color: #3e403f;
        }

    }
}

.container-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-field-text{
        height: 3rem;
        width: 90%;
        display: flex;
        margin: .5rem 0px;
        
        .input-item{
            width: 10%;
            height: 100%;
            left: 0;
            background: #fff;
            color: #333;
            border-radius: 5px 0px 0px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #eye{
            background: #fff;
            border-radius: 0px 5px 5px 0px;
            float: right;
            position: relative;
            cursor: pointer;
        }

    }

    .form-input{
        width: 90%;
        height: 100%;
        font-size: 1rem;
        font-family: 'Abel', sans-serif;
        color: #5E6472;
        outline: none;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: 0.2s linear;
    }

    
    input:focus {
        transform: translateX(-2px);
        border-radius: 5px;
    }
}

button{
    /* display: inline-block; */
    color: $ColorNav;
    width: 90%;
    height: 3.2rem;
    background: #fff;
    border-radius: 5px;    
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;    
    margin: 1.5rem auto;
    letter-spacing: 0.05em;

    &:hover{
        transform: translatey(3px);
        box-shadow: none;
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
}

.other{
    display: flex;
    width: 100%;

    button{
        width: 40%;
    }

    .frgt-pass{background: transparent;}

    .sign-up {background: #B8F2E6;}
}
}

