/*----------ESTILOS MISION VISION----------*/
.home__MissionVision{
    text-align: center;
    width: 100%;
    margin-bottom: 6rem;

    h2{
        @include SubTittileh2;

    }

    .home__MissionVision-Flex{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;

        @media screen and (min-width: 1024px){
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .home__MissionVision-container{
            height:24rem;
            display: flex;
            flex-direction: column;
            width: 22rem;
            justify-content:flex-start;
            border: 3px gray solid;
            border-radius:10px;
            box-shadow: 0px 15px 10px 0px rgb(218, 216, 216);
            
            @media screen and (min-width: 1024px){
                width: 45%;
            }

            h3{
                font-weight: bold;
                font-size: 1.2rem;
                margin: .5rem;
                text-shadow: 0px 5px 10px rgb(218, 216, 216);
                
            }

            img{
                height: 13rem;
                width: 100%
            }

            p{
                margin: .5rem;
                font-size: .72em;
            }

        }  

    }


}


/*----------FIN ESTILOS MISION VISION----------*/