/*----------ESTILOS TESTIMONIOS----------*/
.home__testimony{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-bottom: 6rem;

    @media screen and (min-width: 768px){
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2rem repeat(2,auto);
        grid-template-areas:
        "titulo titulo";
        justify-items:center;
        row-gap: 2rem;
    }

    h2{
        grid-area: titulo;
        @include SubTittileh2;

    }

    .home__testimony-container{
        height: 100%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle, rgba(215,218,230,1) 0%, rgba(155,151,171,1) 98%);
        text-align: center;
        border-radius: 1rem;
        padding: 1rem 0px;
        width: 20rem;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2rem 2rem auto;
        grid-template-areas:
            "nombre nombre"
            "cargo cargo"
            "foto test";


        @media screen and (min-width: 768px){
            width: 90%;
        }

        @media screen and (min-width: 1024px){
            width: 70%;
        }

        &:hover{
            background: rgba(64, 64, 70,0.8);
            &:hover > .home__testimony-container--img > img{
                transform: scale(1.1) rotate(3deg);
            }

            &:hover .home__testimony-container--text{
                color: white;
            }
        }

        h3{
            font-size: 1rem;
            padding: .3rem;
            grid-area: nombre;
            margin: 0 auto;
        }

    
        .home__testimony-container--img{
            height: auto;
            grid-area: foto;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                height: 8rem;
                object-fit: contain;
            }
        }

        h4{
            font-size: .8rem;
            grid-area: cargo;
            font-weight: bold;
            font-style: oblique;
            background: radial-gradient(circle, rgba(215,218,230,1) 0%, rgba(155,151,171,1) 98%);
            margin: 0px;
            width: 100%;
            height: 1.5rem;
        }


        p{
            font-size: .7em;
            padding: 0px 1rem;
            grid-area:test;
            text-align: justify;
        }


    }

}


/*----------FIN ESTILOS TESTIMONIOS----------*/