.body_contact{

    .contact__main{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;

        @media screen and (min-width: 1024px) {
            display: grid;
            padding: 1rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas:
                "titulo titulo"
                "form mapa";
        }

        .contact__tittle{
            height: 3rem;
            grid-area: titulo;
            display: flex;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 1.2rem;
                margin: 0 auto;
            }
        }

        .contact__form{
            width: 80%;
            background-color: bisque;
            padding: .5rem;
            border-radius: 1rem;
            background: rgb(173,187,242);
            background: linear-gradient(90deg, rgba(173,187,242,1) 0%, rgba(107,104,134,1) 98%);
            grid-area: form;


            .labels-inputs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-items: center;
                

                p{
                    margin: .5rem .5rem;
                    font-size: .8rem;
                    
                }


                input{
                    font-size: .7rem;
                    border: 1px solid gray;
                    border-radius: 5px;
                    padding: .4rem 5px;
                    margin: 0px 0.5rem;
                }

                textarea{
                    height: 3rem;
                    border: 1px solid gray;
                    border-radius: 5px;
                    resize: none;
                    font-size: .7rem;
                    padding: 0px 5px 0px 5px;
                    margin: 0px .5rem;
                }

            }


            .btns{
                padding: .5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: .5rem;

                input{
                    width: 5rem;
                    font-size: .6rem;
                    padding: .2rem;
                    border-radius: 5px;
                    
                    &:hover{
                        background-color: rgb(161, 159, 159);
                        font-weight: bold;
                    }
                }
                
            }

        }

        .contact__address{
            height: 100%;
            width: 80%;
            text-align: center;
            grid-area: mapa;
            

            iframe{
                height: 100%;
                width: 100%;
                margin-bottom: 1rem;
            }
            
            
        }


    }


}
